name: ESP32 BLE Presence Addon
slug: esp32_ble_presence
version: "1.0.17"
description: ESP32 BLE presence management
arch:
  - amd64
  - aarch64
  - armv7
  - armhf
  - i386
startup: application
boot: auto
ingress: true
ingress_port: 5000
host_network: true
panel_icon: mdi:bluetooth
panel_title: ESP32 Presence
init: false